numpy<2
pandas
openpyxl
rdkit
mordred==1.2.0
scipy==1.17.0
scikit-learn==1.8.0
imbalanced-learn==0.14.1
umap-learn
lightgbm
mendeleev
morfeus-ml
networkx
optuna
colorlog
drfp
dscribe
ase
sparse
joblib
torch
transformers
shap
matplotlib
xgboost
