openpyxl
rdkit==2025.9.6
scipy==1.17.0
scikit-learn==1.8.0
imbalanced-learn==0.14.1
umap-learn==0.5.11
lightgbm==4.6.0
mendeleev
morfeus-ml==0.8.0
networkx==3.6.1
optuna==4.7.0
colorlog
drfp==0.3.7
dscribe
ase
sparse
joblib
transformers
shap
matplotlib
xgboost==3.2.0
